@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Noto Sans TC", sans-serif;
}

body,
html *:lang(en) {
  font-family: "Kanit", sans-serif;
}

.swal2-html-container {
  font-family: "Kanit", sans-serif !important; /* 設定字型 */
  font-weight: 200;
  font-size: 16px !important; /* 設定字型大小 */
  color: #555555 !important; /* 設定字型顏色 */
  padding: 15px !important; /* 設定字型顏色 */
  line-height: 1.6 !important; /* 設定行距 */
  text-align: center !important; /* 設定對齊方式 */
}

.swal2-actions {
  margin: 0;
}

.swal2-popup {
  padding: 0 0 1em;
}

.custom-confirm-button {
  font-size: 12px !important;
  margin: 0;
  border-radius: 5px !important;
}
.custom-confirm-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.custom-confirm-button:active {
  background-color: inherit !important;
  box-shadow: none !important;
}

/*英文字*/
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000; /* 確保在最上層 */
  transition: top 0.3s ease-in-out; /* 平滑動畫效果 */
}

header {
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px 20vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
header .wrap {
  display: flex;
  height: 62px;
  align-items: center;
}
header .wrap a {
  color: #333333;
  text-decoration: none;
  line-height: 20px;
}
header .wrap a h4 {
  font-weight: 400;
}
header .wrap a span {
  font-weight: 300;
  font-size: 14px;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  position: relative;
  display: block;
  color: #575757;
  text-align: center;
  margin: 20px 10px;
  font-size: 14px;
  text-decoration: none;
  background-color: transparent;
  transition: color 0.1s ease, background-color 0.3s ease;
  z-index: 2;
}
header nav ul li a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  border-bottom: 2px solid white;
  background-image: -webkit-linear-gradient(transparent 50%, #fcf113 0%);
  left: 0;
  bottom: -1px;
  transition: width 0.2s ease-out, left 0.2s ease-out;
  z-index: -1;
}
header nav ul li a:hover:after {
  width: 100%;
  left: 0;
}

#ontopBtn {
  border: none;
  background-color: transparent;
  position: fixed;
  bottom: 50px;
  right: 40px;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 10px 0px 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
}

section {
  width: 70vw;
  margin: 0px auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.index #about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}
.index #about .opener {
  max-width: 800px;
  display: flex;
  padding: 0px 5vw;
  padding-top: 80px;
  position: relative;
}
.index #about .opener::after {
  content: "";
  display: block;
  width: 100%;
  height: 18px;
  position: absolute;
  left: 0;
  top: -7px;
  background: url(/portfolio2024/assets/images/shape.png) center center/90px 18px repeat-x;
}
.index #about .opener .photo img {
  border-radius: 100%;
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
.index #about .opener .text {
  padding-left: 8%;
}
.index #about .opener .text h3 {
  margin-bottom: 10px;
  font-weight: 400;
}
.index #about .opener .text p {
  font-size: 12px;
  text-align: justify;
}
.index #about .skill {
  width: 100%;
  max-width: 800px;
  padding: 40px 0px 20px;
}
.index #about .skill h5 {
  margin-bottom: 20px;
}
.index #about .skill .item {
  display: flex;
}
.index #about .skill .item .wrap {
  background-color: #f7f7f7;
  margin: 0px 5px;
  padding: 20px 20px;
}
.index #about .skill .item .wrap h5 {
  margin-bottom: 10px;
  white-space: nowrap;
  font-weight: 500;
}
.index #about .skill .item .wrap ul {
  list-style: none;
}
.index #about .skill .item .wrap ul li {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 10px 0px;
}
.index #about .skill .item .wrap ul li .progress-bars {
  margin-right: 10px;
  width: 100px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(215, 215, 215);
}
.index #about .skill .item .wrap ul li .progress {
  height: 100%;
  border-radius: 10px;
  background-color: #333333;
}
.index #about .skill .item .wrap ul li i {
  margin-right: 10px;
  color: #333333;
}
.index #about #seeMorebtn {
  text-decoration: none;
  color: #333333;
  position: absolute;
  right: 0;
  bottom: 20%;
  writing-mode: vertical-lr;
  white-space: nowrap;
}
.index #experience {
  margin-bottom: 50px;
}
.index #experience .experience {
  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
  display: flex;
  transition: padding-top 0.5s ease; /* 添加平滑過渡效果 */
}
.index #experience .experience .wrap {
  flex: 1;
}
.index #experience .experience .wrap h5 {
  font-weight: 500;
  margin: 15px 0px;
}
.index #experience .experience .wrap h5 span {
  font-size: 12px;
  font-weight: 400;
}
.index #experience .experience .wrap .timeline-bars {
  height: 2px;
  font-size: 11px;
  padding: 0px 10px;
  position: relative;
}
.index #experience .experience .wrap .timeline-bars::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333333;
  position: absolute;
  top: -3px;
  left: -3px;
}
.index #experience .experience .wrap ul {
  padding: 0px 15px;
  transition: display 0.5s ease; /* 添加平滑過渡效果 */
}
.index #experience .experience .wrap ul li {
  margin: 5px 0px;
  font-size: 12px;
  color: #333333;
}
.index #experience .experience .wrap ul li span {
  color: #7e7e7e;
}
.index #project {
  width: 100%;
  box-shadow: 0 2px 20px -10px #7e7e7e inset;
  background-color: #f7f7f7;
}
.index #project #filter-buttons {
  padding: 50px 0px 20px 0px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.index #project #filter-buttons div {
  color: #7e7e7e;
}
.index #project #filter-buttons button {
  position: relative;
  height: 20px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  margin: 0px 10px;
  z-index: 1;
  color: #333333;
}
.index #project #filter-buttons button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-image: -webkit-linear-gradient(transparent 50%, #fcf113 0%);
  left: 0;
  bottom: -1px;
  transition: width 0.2s ease-out, left 0.2s ease-out;
  z-index: -1;
}
.index #project #filter-buttons button:hover:after {
  width: 100%;
  left: 0;
}
.index #project #filter-buttons button.active {
  background-image: -webkit-linear-gradient(transparent 50%, #fcf113 0%);
}
.index #project #project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 0px;
}
.index #project #project-list a {
  text-decoration: none;
}
.index #project #project-list a .project-card {
  width: 360px;
  max-width: 360px;
  height: 300px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
}
.index #project #project-list a .project-card .img {
  width: 100%;
  height: 250px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px 0 #d1d1d1;
}
.index #project #project-list a .project-card .img img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s ease-out;
}
.index #project #project-list a .project-card .img img:hover {
  transform: scale(1.05, 1.05);
}
.index #project #project-list a .project-card .item {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.index #project #project-list a .project-card .item h5 {
  color: #333333;
  font-weight: 500;
}
.index #project #project-list a .project-card .item span {
  font-size: 12px;
  color: #9f9f9f;
  font-weight: 400;
}

.project-page .content {
  position: relative;
  width: 100%;
  padding: 62px 0px 50px;
  box-shadow: 0 2px 10px -6px #7e7e7e;
  margin: 0;
  z-index: 1;
}
.project-page .content h2 {
  width: 100%;
  padding: 40px 0px 20px;
  margin-bottom: 3px;
  font-weight: 200;
  color: #333333;
  text-align: center;
}
.project-page .content span a {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #333333;
  text-align: center;
}
.project-page .content span a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fcf113;
  z-index: -1;
  transition: all 0.5s ease-in;
  transform: scale(0, 0);
}
.project-page .content span a:hover::after {
  transform: scale(1, 1);
}
.project-page .content .introduction {
  width: 70vw;
  box-sizing: border-box;
  color: #7e7e7e;
  margin: 20px 0px 50px;
  padding: 0px 40px;
}
.project-page .content .introduction h5 {
  font-weight: 400;
  margin: 10px 0px;
}
.project-page .content .introduction p {
  padding: 0px 0px 50px 0px;
  font-size: 11px;
  letter-spacing: 0.2px;
  text-align: center;
}
.project-page .content .introduction .wrap {
  border-bottom: 1px solid #b6b6b6;
  display: flex;
}
.project-page .content .introduction .wrap h5 {
  font-weight: 500;
}
.project-page .content .introduction .wrap .item {
  color: #333333;
  flex: 1;
  padding: 5px 0px;
  font-size: 12px;
  letter-spacing: 0.2px;
}
.project-page .content .navigation {
  margin: 50px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.project-page .content .navigation div {
  color: #7e7e7e;
}
.project-page .content .navigation button {
  position: relative;
  color: #333333;
  height: 20px;
  margin: 0px 5px;
  font-size: 11px;
  font-weight: 350;
  letter-spacing: 0.2px;
  border: none;
  background-color: transparent;
}
.project-page .content .navigation button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-image: -webkit-linear-gradient(transparent 50%, #fcf113 0%);
  left: 0;
  bottom: -1px;
  transition: width 0.2s ease-out, left 0.2s ease-out;
  z-index: -1;
}
.project-page .content .navigation button:hover:after {
  width: 100%;
  left: 0;
}
.project-page .photo {
  width: 100%;
  background-color: #f7f7f7;
  padding: 50px 15vw;
  margin: 0;
}
.project-page .photo .img-box {
  font-size: 0;
  box-shadow: 0 2px 20px -10px #9f9f9f;
}
.project-page .photo .img-box .item {
  width: 100%;
  position: relative;
}
.project-page .photo .img-box .item .readmore {
  position: absolute;
  top: 15.9%;
  right: 47%;
  width: 11%;
}
.project-page .photo .img-box .item .sidebtn {
  position: absolute;
  top: 25%;
  right: 49%;
  width: 13%;
}
.project-page .photo .img-box .item .scoll {
  position: absolute;
  bottom: 30%;
  left: 18.3%;
  width: 5%;
}
.project-page .photo .img-box .item .ontop {
  position: absolute;
  bottom: 10%;
  left: 16%;
  width: 10%;
}
.project-page .photo .img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 2px;
}
.project-page .photo .img-box2 {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 2px 0px;
}
.project-page .photo .img-box2 img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-page .photo .img-box3 {
  width: 100%;
  font-size: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2px 0px;
}
.project-page .photo .img-box3 img {
  margin: 2px 3px;
  width: 30%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 720px) {
  header {
    padding: 0px 5vw;
  }
  .index section {
    width: 85vw;
  }
  .index #about .opener {
    flex-direction: column;
  }
  .index #about .opener .photo img {
    width: 150px;
    height: 150px;
  }
  .index #about .opener .text {
    padding-left: 0;
    padding-top: 10px;
  }
  .index #about .skill .item {
    flex-direction: column;
  }
  .index #about .skill .item .wrap {
    flex: 1;
  }
  .index #experience .experience {
    flex-direction: column;
  }
  .index #project-list {
    width: 375px;
  }
  .project-page section {
    width: 90vw;
  }
  .project-page .content .introduction {
    width: 100%;
  }
  .project-page .photo {
    padding: 50px 5vw;
  }
  .project-page .photo .img-box3 img {
    width: 100%;
  }
}
@media screen and (min-width: 720px) and (max-width: 1200px) {
  .index #about .opener {
    flex-direction: column;
  }
  .index #about .opener .photo img {
    width: 150px;
    height: 150px;
  }
  .index #about .opener .text {
    padding-left: 0;
    padding-top: 10px;
  }
  .index #about .skill .item {
    flex-direction: column;
  }
  .index #about .skill .item .wrap {
    flex: 1;
  }
  .index #experience .experience {
    flex-direction: column;
  }
  .index #project-list {
    width: 750px;
  }
}/*# sourceMappingURL=style.css.map */